body{
    margin: 0;
}
ul{
    margin: 0;
}

.danhmuc{
    background-color: #2fa4e7;
    padding: 20px;
}
.danhmuc-danhsach{
    display: flex;
    list-style: none;
    /* /* list-style: ; * bỏ dấu chấm trong thẻ li*/
}
.danhmuc-lienket{
    color: white;
    text-decoration: none;
    /* text-decoration: ; bỏ dấu gạch chân trong thẻ a */
    font-size: larger;
    font-weight: bold;
}
.danhmuc-muc{
    margin: 10px;
}
.danhmuc-lienket:hover{
    color: grey;
    /* hover di chuyển chuột chuyển màu */
}
.logo{
    height: 40px;
    background-color: grey;
}
main{
    display: flex;
}
.noidung-trai{
    /* height: 1000px;
    background-color: aquamarine; */
    width: 80%;
     border-radius: 10px 10px 0px 0px;
}
.noidung-phai{
    height: 1000px;
    width: 20%;
    background-color: chocolate;
     border-radius: 10px 10px 0px 0px;
}
.tieude{
    background-color: chartreuse;
    padding: 20px;
    font-size: x-large;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
}
.tintuc-danhsach{
    display: flex;
    justify-content: space-between;

    
}
.baiviet{
    height: 200px;
    background-color: darkgreen;
    width: 32%;
    
}
img{
    height: 200px;
    width: 100%;
}